@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Main font Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Point font playfair */

* {margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;}
ul {list-style: none;}
a {text-decoration: none; color: #000;}

::selection {
    background-color: #d83546;
    color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #d83546;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

/* pc버전일 때 */
@media screen and (min-width: 1024px) {
    .frontback::after {
        content: url("./../public/img/after.png");
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: -9;
    }
    .frontbackdark::after {
        content: url("./../public/img/dark-after.png");
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: -9;
    }
    
    .frontbacksmall::after {
        content: url("./../public/img/after-500.png");
        position: absolute;
        top: -20px;
        left: -35px;
        z-index: -9;
    }
    .frontbacksmalldark::after {
        content: url("./../public/img/dark-after-500.png");
        position: absolute;
        top: -35px;
        left: -35px;
        z-index: -9;
    }
}

/* tablet 버전일 때 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .frontback::after {
        content: url("./../public/img/after-500.png");
        position: absolute;
        top: -40px;
        left: 0px;
        z-index: -9;
    }
    .frontbackdark::after {
        content: url("./../public/img/dark-after-500.png");
        position: absolute;
        top: -40px;
        left: 0px;
        z-index: -9;
    }

    .frontbacksmall::after {
        content: url("./../public/img/after-250.png");
        position: absolute;
        top: -15px;
        left: -20px;
        z-index: -9;
    }
    .frontbacksmalldark::after {
        content: url("./../public/img/dark-after-250.png");
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: -9;
    }
}

/* mobile 버전일 때 */
@media screen and (max-width: 767px) {
    .frontback::after {
        content: url("./../public/img/after-350.png");
        position: absolute;
        top: -30px;
        left: -10px;
        z-index: -9;
    }
    .frontbackdark::after {
        content: url("./../public/img/dark-after-350.png");
        position: absolute;
        top: -30px;
        left: -10px;
        z-index: -9;
    }

    .frontbacksmall::after {
        content: url("./../public/img/after-170.png");
        position: absolute;
        top: -10px;
        left: -15px;
        z-index: -9;
    }
    .frontbacksmalldark::after {
        content: url("./../public/img/dark-after-170.png");
        position: absolute;
        top: -10px;
        left: -15px;
        z-index: -9;
    }
}

.project::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.project:hover::after {
    background-color: rgba(216, 53, 70, 0.7);
}

.activeColor {
    background-color: #d83546;
    color: #fff;
}

.navarray::after {
    transition: 0.5s;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 11px;
    background-color: #ff909b;
    z-index: -1;
}
.navarraydark::after {
    transition: 0.5s;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 11px;
    background-color: #d83546;
    z-index: -1;
}
.navarray:hover::after {
    width: 100%;
}
.navarraydark:hover::after {
    width: 100%;
}

/* mouse cursor pointer */
.custom-cursor {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: #d83546; /*사용자 수정*/
    backface-visibility: hidden;
    transition: none;
    mix-blend-mode: difference; /*사용자 수정*/
    pointer-events: none;
    border-radius: 50%;
    transform: scale(1);
}
   
.custom-cursor-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d83546; /*사용자 수정*/
    transition: all 0.2s ease;
    transform-origin: 50% 50%;
}
   
.custom-cursor.custom_cursor_visible {
    opacity: 1;
}
   
.custom-cursor.custom_cursor_hidden {
    opacity: 0;
}
   
@media (pointer:none), (pointer:coarse) {
    #custom_cursor,
    #custom_cursor .custom-cursor-icon {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }
    
    * {
        cursor: auto !important;
    }
}
/* mouse cursor pointer */